.mainfooter {
	margin: 0px auto;
	min-height: 200px;
	background: $text;
	padding: 10px 0px 0px 0px;
}

#copyright {
	color: $links;
	margin-top: 20px;
	margin-bottom: 20px;
}

.copyright-text {
	padding: 10px;
	font-size: 10px;
	font-weight: lighter;
}

address {
	padding: 10px;
	font-size: 10px;
	font-weight: lighter;
}

.social-media-invisible {
	display: none;
}

@media (max-width: $screen-xs-max) {
	#sticky-social-footer {
		position: fixed;
		background-color: $highlight;
		height: 40px;
		width: 100%;
		bottom: 0px;
		z-index: 5;
	}

	.social-media {
		display: block;
		font-size: 20px;
		margin-top: 0px;
		text-align: center;

		i {
			padding: 10px;
		}


	}
}