
.page-link {
	clear: both;
	display: block;
	margin: 0 0 1.5em;
	span {
		margin-right: 6px;
	}
}

#hero {
  background: no-repeat url("assets/images/hero-1.jpg");
  height: 447px;
  background-size: cover;
  position: relative; }

.slogan {
  margin: 15px; }

.ribbon {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  min-height: 55px;
  padding-top: 3px;
  padding-bottom: 3px;
  top: 225px;
  text-align: center; 

  h3 {
    font-family: 'Trump';
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  h4 {
    font-family: 'Trump';
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

}

.main {
	max-width: 1000px;
}

#pages-logo {
    position: absolute;
    width: 70px;
    left: 70px;
    top: 70px;
}

#front-page-content {
  margin-top: 50px;
  max-width: 1000px;
  text-align: center;

  h2 {
    letter-spacing: 2px;
    font-size: 2.3em;

  }
}

/* category items */

.category {
  padding-left: 70px;
  padding-right: 70px;
}

.category-icon {
    position: relative;
    width: 115px;
    border: 2px solid rgb(151, 153, 155);
    font-size: 40px;
    height: 115px;
    margin: 0 auto;
    border-radius: 60px;
    top: 90px;
    background-color: white;
    z-index: 2;
    font-size: 72px;
    margin-left: -55px;

    i {
      padding: 0px;
    }
}

.category-title {
  background-color: rgb(151, 153, 155);
  color: $links;  
  border-radius: 5px;
  text-transform: uppercase;
}

.category-desc {

  p {
    padding-top: 35px;
    text-align: left;
  }
}

/* services items */

.item-title {
  background-color: rgba(239, 129, 34, 1.0);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  h3 {
    font-size: 27px;
    line-height: 3px;
    margin-left: 20px;
    color: white;
    letter-spacing: 1px;
  }
}

.item-price {
  padding: 10px;
  text-align: center;

  h1 {
    font-size: 5em;
  }
}

.item-desc {
  font-size: 18px;
  padding: 10px;
  border: 1px solid rgb(151, 153, 155);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#device-list-wrapper {
  margin-top: 30px;
  background-color: $text;

  ul {
    text-align: center;
  }
  img {
    max-height: 75px;
    max-width: 75px;
    margin: 50px;
  }
}

#primary {
	margin-top: 50px;
}

@media (max-width: $screen-xs-max) {
  #hero {
    background: no-repeat url("assets/images/herosmall-1.jpg");
    height: 300px;
    background-size: cover;
    position: relative;
  }

  .slogan {
    font-size: 14px;
    margin: 10px;
  }

  .ribbon {
    min-height: 50px;
    max-height: 90px;
    top: 185px;

    h3 {
      font-size: 24px;
      letter-spacing: 1px;
    }

    h4 {
      font-size: 12px;
      letter-spacing: 2px;
    }
  }

  #front-page-content {
    margin-top: 20px;
    }

    h2 {
      font-size: 2em;
    }

.category-icon {
  display: none;
}

#device-list-wrapper {

  img {
    max-width: 40px;
    max-height: 40px;
    margin: 20px;
  }
}

}