
.page-link {
	clear: both;
	display: block;
	margin: 0 0 1.5em;
	span {
		margin-right: 6px;
	}
}

.hero {
  width: 100%;
  background: url("assets/images/hero-1.jpg");
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;   
  background-size: cover;
  height: 447px;
  position: relative; 
  background-clip: border-box;
}

.slogan {
  margin: 15px; }

.ribbon {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  min-height: 55px;
  padding-top: 3px;
  padding-bottom: 3px;
  top: 225px;
  text-align: center; 

  h3 {
    font-family: 'Trump';
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  h4 {
    font-family: 'Trump';
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

}

.main {
	max-width: 1000px;
}

#pages-logo {
    background: rgba(239, 129, 34, 1.0);
    position: fixed;
    width: 140px;
    left: 140px;
    top: 0px;
    z-index: 102;

    img {
      padding: 15px 20px 0px 20px;
    }
}

#front-page-content {
  margin-top: 50px;
  max-width: 1000px;
  text-align: center;

  h2 {
    letter-spacing: 2px;
    font-size: 2.3em;

  }
}

/* category items */

.category {
  padding-left: 70px;
  padding-right: 70px;
}

.category-icon {
    position: relative;
    width: 115px;
    border: 2px solid rgb(151, 153, 155);
    font-size: 40px;
    height: 115px;
    margin: 0 auto;
    border-radius: 60px;
    top: 90px;
    background-color: white;
    z-index: 2;
    font-size: 72px;
    margin-left: -55px;

    i {
      padding: 0px;
    }
}

.category-title {
  background-color: rgb(151, 153, 155);
  color: $links;  
  border-radius: 5px;
  text-transform: uppercase;
}

.category-desc {

  p {
    padding-top: 35px;
    text-align: left;
  }
}

/* services items */

hr {
  margin-top: 0px;
}
.item-title {
  background-color: rgba(239, 129, 34, 1.0);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;


  h3 {
    font-size: 27px;
    line-height: 3px;
    margin-left: 13px;
    color: white;
    letter-spacing: 1px;
  }
}

.item-price {
  padding: 0px 0px 0px 15px;
  text-align: right;

  h1 {
    font-size: 5em;
  }

  p {
    margin-top: -20px;
  }
}

.item-desc {
  font-size: 18px;
  padding: 10px;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#device-list-wrapper {
  margin-top: 30px;
  background-color: $text;

  ul {
    text-align: center;
  }
  img {
    max-height: 75px;
    max-width: 75px;
    margin: 50px;
  }
}

/* hours and Location */
#hours-location-wrapper {

}

#hours-location {

  h3 {
    letter-spacing: 1px;
  }
}

#primary {
	margin-top: 50px;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:31.25%;
    position:relative;
    height:0;
}

.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

@media (max-width: $screen-md-max) {
  #pages-logo {
    width: 100px;
    height: 50px;

    img {
      padding: 5px 12px 18px 10px;
    }
  }
}

@media (max-width: $screen-sm-max) {
  #pages-logo {
    width: 100px;
    height: 50px;

    img {
      padding: 5px 12px 18px 10px;
    }
  }
}

@media (max-width: $screen-xs-max) {
  #pages-logo {
    display: none;
  }

  #hero {
    background: no-repeat url("assets/images/herosmall-1.jpg");
    height: 300px;
    background-size: cover;
    position: relative;
  }

  .slogan {
    font-size: 14px;
    margin: 10px;
  }

  .ribbon {
    min-height: 50px;
    max-height: 90px;
    top: 185px;

    h3 {
      font-size: 24px;
      letter-spacing: 1px;
    }

    h4 {
      font-size: 12px;
      letter-spacing: 2px;
    }
  }

  #front-page-content {
    margin-top: 20px;
    }

    h2 {
      font-size: 2em;
    }

  .category {
    padding-left: 50px;
    padding-right: 50px;
  }

  .category-desc {

    p {
      padding: 10px;
    }
  }
  .category-icon {
    display: none;
  }

  #device-list-wrapper {
    
    ul {
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
  }

    img {
      max-width: 40px;
      max-height: 40px;
      margin: 20px;
    }
  }

  .item-desc {
    font-size: 12px;
    padding: 5px;
  }

  .item-title {
    background-color: rgba(239, 129, 34, 1.0);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;


    h3 {
      font-size: 20px;
      line-height: 1px;
      margin-left: 13px;
      color: white;
     }
  }

  .item-price {
  padding: 0px 0px 0px 10px;
  text-align: right;

  h1 {
    font-size: 2em;
  }

  p {
    margin-top: -20px;
  }
}

.map-responsive {
    padding-bottom:56.25%;
}


}