.page-link {
	clear: both;
	display: block;
	margin: 0 0 1.5em;
	span {
		margin-right: 6px;
	}
}

#hero {
  background: no-repeat url("assets/images/backgroundexample2.jpg");
  height: 400px;
  background-size: cover;
  position: relative; }

.slogan {
  margin: 15px; }

.ribbon {
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  min-height: 55px;
  padding-top: 3px;
  padding-bottom: 3px;
  top: 190px;
  text-align: center; }

.main {
	max-width: 1000px;
}

#pages-logo {
    position: absolute;
    width: 70px;
    left: 70px;
    top: 70px;
}

#primary {
	margin-top: 50px;
}

@media (max-width: $screen-xs-max) {
  #hero {
    height: 300px;
  }

  .slogan {
    font-size: 14px;
    margin: 10px;
  }

  .ribbon {
    min-height: 40px;
    max-height: 40px;
    top: 185px;
  }
}