/* BASE VARIABLES
 *******************/

/* Sizes */
$max-width: 1800px;
$footerheight: 50px;

/* Colors */
$text: #58595b;
$links: #FFF;
$hover: #0882B2;
$visited: #FFF;
$highlight: #107a9f;

$bg: #FFF;

/* Fonts */
$main: sans-serif;

/* Borders */
$border: 1px solid #000;

/* Breakpoints */
$cap: 1920px;
$m: 850px;
$s: 740px;
$xs: 500px;