/* custom css */
/*ul {
	list-style-type: none; 
	text-align: center;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}*/

li {
	display: inline;
}

#top-header {

	.contact-info {
		float: right;
		margin-top: 10px;

		li {
			padding-top: 10px;
			padding-bottom: 10px;
			padding-right: 20px;
		}
	}
}

.social-media {
	font-size: 26px;
	margin-top: 5px;
}

.small-white-logo img {
	display: none;
}

i {
	padding-right: 7px;
	font-size: 1em;
}

.icon-bar {
  color: white;
  font-weight: lighter; }

#header {
  position: fixed;

  width: 100%;
  top: 0;
  background-color: $text;
  z-index: 3; }

.btn-header {
	padding: 5px;
}

.btn-default {
	background: $hover;
	color: white;
	border: 0px;
	border: 1px solid rgba(255,255,255,0.0);
}

.btn:hover {
	background: $hover;
	color: $links;
	border: 1px solid white;
}

@media (max-width: $screen-xs-max)  {
	#top-header {

		.social-media {
			display: none;
		}

		img {
			display: inline-block;
			width: 70px;
			margin: 5px;
		}

		ul {
			margin-top: 15px;
		}

		li {
			padding-right: 30px;
		}

		.email {
			display: none;
		}

	}
}

