/* custom css */
ul {
	list-style-type: none; 
	text-align: center;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

li {
	display: inline;
}

#top-header {

	.container {
		width: 100%;
		margin-left: 150px;
		padding-left: 0px;
	}

	li {
		float: left;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 20px;
	}

	img {
		width: 60px;
		margin: 0 0;
	}

	i {
		padding-right: 7px;
		font-size: 1em;
	}
}

.icon-bar {
  color: white;
  font-weight: lighter; }

#header {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  background-color: gray;
  z-index: 1; }

