
#nav-logo {
	position: absolute;
	width: 200px;
	left: 30px;
	top: 85px;

}

/* navbar */

#custom-bootstrap-menu {
	font-family: 'Trump';
	letter-spacing: 2px;
	width: 100%;
}

#custom-bootstrap-menu.navbar {
	ul {
		padding-top: 3px;
	}

	li {
		text-transform: uppercase;

	}
}
#custom-bootstrap-menu.navbar-default .navbar-brand {
    background: none;
}
#custom-bootstrap-menu.navbar-default.container-fluid .navbar-header {
	margin-left: 100px;
}
#custom-bootstrap-menu.navbar-default {
    min-height: 40px;
    max-height: 40px;
    font-size: 14px;
    background: rgba(239, 129, 34, 1.0);
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav {
    background: rgba(239, 129, 34, 1.0);
    z-index: 101;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    max-height: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: $links;
    background-color: none;
    font-size: 1.8em;
}
.navbar-default.navbar-form {
	border-color: none;
}
.navbar-collapse {
	overflow-x: no;
	z-index: 100
}
.navbar-collapse.in {
	overflow-y: no;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: $hover;
    background-color: none;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: $hover;
    text-decoration: underline;
    background-color: transparent;
    z-index: 100;
}

.navbar-nav {
	display: inline-block;
	margin: 0;
}
.navbar-default {
	text-align: center;
}
/* This is the square 3 line menu button */
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: transparent;
    border-radius: 0px;
    padding-bottom: 3px;
    padding-top: 3px;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
    max-width: 100px;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: $hover;
}

.front-page-nav {
	top: 285px;
	margin-top: 50px;
}

.front-page-nav-fixed-top {
	position: fixed;
	top: 50px;
	z-index: 100;
	margin-top: 0px;
}

.all-page-nav-fixed-top {
	position: fixed;
	top: 50px;
	z-index: 100;
	margin-top: 0;
}

@media (min-width: 768px) {
  	.navbar-nav {
    	float:none;
  }
}

@media (max-width: $screen-sm-max) {
  	#nav-logo {
		width: 200px;
		left: 30px;
  	}
}

@media (max-width: $screen-xs-max) {
	.front-page-nav {
		top: -75px;
	}
	/* #navbar-front-page {
		height: 40px;
		letter-spacing: 1px;
		top: 245px;
		width: 100%;
		position: relative;  

		ul {
			padding-top: 7px;
			padding-bottom: 7px;
			font-size: .6em;
			}

		li {
			display: inline;

		  a {
		  	color: white;
		  	padding: 5px;
		    text-transform: uppercase;
		    text-decoration: none;
		  }

		  a:hover, a:focus {
		  	color: $hover;
		  }
		} */

	#nav-logo {
		display: none;
	}
}




/* .access {
	margin: 0;
	div {
		float: left;
		overflow: hidden;
		position: relative;
		width: 100%;
	}
	ul {
		clear: left;
		padding-left: 0;
		margin: 0 !important;
		list-style: none;
		li {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			a {
				display: block;
				padding: 3px 0 3px 10px;
				margin: 2px 0;
				text-decoration: none;
				cursor: pointer;
				// uncomment if you want dividers
				// &:after {
				// 	content: '/';
				// 	color: $text;
				// }
				&:hover,
				&:focus {
					color: $hover;
				}
			}
			// &:last-of-type a:after {
			// 	content: none;
			// }
		}
		
		
	}
	
}

*/